body {
    background-color: lightsteelblue;
    background-image: url(../images/water-drops-on-leaves.jpg);
    background-size: cover;
}

#container {
    width: 700px;
    border: 1px black dotted;
    margin: auto;
    background-color: white;
}

header {
    
    width: 700px;
    border: 1px black dotted;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    font-size: 25px;
    font-family: sans-serif;
    
}

main {
    width: 700px;
    border: 1px black dotted;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    font-size: 25px, color: darkcyan;
    text-align: center;
}

footer {
    width: 700px;
    border: 1px black dotted;
    margin: 0 auto;
    background-color: white;
    font-size: 25px, color: darkorange;
    text-align: center;
}

h1 {
    font-size: 80px;
    font-family: cursive;
    color: black;
    text-align: center;
}

p {
    font-size: 25px;
    font-family: "Arial", sans-serif;
    color: darkcyan !important;
}

p, li, a {
    font-size: 30px;
    font-family: "Arial", sans-serif;
    color: darkblue;
    color: orange; 2px;
}

a {
    font-size: 25px;
    font-family: "Arial";
    color: aqua;
}

/* Text style ends */

/* Image style starts */

#intro-image {
    text-align: center;
}

#intro-image img {
    width: 500px;
    border-radius: 50%;
}

#intro-image #cup {
    border-radius: 50%;
    opacity: .50;
}

#koala img {
    border-radius: 40%;
    opacity: .25;
}
/* Anchor Pseudo Classes */

a:link {
    color: hotpink;
    text-decoration: none;
}

a:visited {
    color: fuchsia;
}

a:hover {
    color: forestgreen;
    text-decoration: underline;
    font-size: 22px;
}

a:active {
    color: yellow;
    text-decoration-line: underline;
}

ul {
    list-style: square;
}

    